*{
    margin:0;
    padding: 0;
}
.blog {
    width: 50%;
    background-color: orangered;
    height: 50vh;
    padding: 20px 20px;
    border-radius: 3px;
    border: 1px solid gold;
    margin: 0 auto;
}
.blog p{
    color:#ffff;
    font-size: 20px;
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
    align-items:center;
}